# Buy Me a Coffee
BMC_WEBHOOK_SECRET=
BMC_API_TOKEN=

# GitHub
GITHUB_TOKEN=

# PayPal
# Use "sandbox" while testing, or "live" for production.
PAYPAL_ENV=live
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_CURRENCY=EUR
